# temporary files
.fuse_hidden*
.nfs*

# Linux / KDE
.directory
.Trash-*

# macOS
.DS_Store

# Virtual environments
venv/
.env/
.venv/

# Environment vars
.env
*.env

# notebooks
*.ipynb
.ipynb_checkpoints/

# Python
.vscode/
__pycache__/
*.pyc
*.py[cod]
.pytest_cache/
.mypy_cache/

# PyCharm / IntelliJ IDEA
.idea/
*.iml

# logs
*.log
logs/

# Streamlit cache
.streamlit/

# Temporary files
*.tmp

# local outputs
json/

# data folder but keep structure
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/vectorstore/*
!data/vectorstore/.gitkeep

# vector database files
*.db
*.index

# PDFs
*.pdf

# local files
repo.txt

# rag artefacts
faiss_index/
chroma/
cache/

# patterns for chunking
src/patterns.py